.header-page {

    .navbar {
    	height:$headerHeight;
    }
}

.header-item {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.8rem;
}

.header-logo {
    width: 125px;
    height: auto;
} //end header