.header-page {}

.header-nav {
    .navbar-brand {}
}

.header-collapse {
	margin: 0 -10px;
	background-color:white;
}

.navbar {
    height: $headerHeight;
}

.header-item {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.8rem;
}

.header-logo {
    width: 125px;
    height: auto;
} //end header
.header-item {
    margin-left: 10px;
}