.page-header {
	height: 90px;
	max-width: 1175px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	z-index:2;
	left:50%;
	transform:translate(-50%,0);
	.navbar-collapse {
		height: 100%;
	}
	.nav-link {
		font-size: 18px;
		line-height: 19px;
		color: $white;
		font-family: 'Open Sans';
	}
}

.brand-text--bg {
	font-size: 3.4rem;
	line-height: 1.9rem;
	color: #dc0000;
	font-family: 'BebasNeueRegular';
}
.brand-text--sm {
	font-size: 1.9rem;
	line-height: 1.9rem;
	color: #dc0000;
	font-family: 'BebasNeueBook';
	text-transform: lowercase;
}
