.collect-item {
	overflow: hidden;
&:hover{
	
}
	&:hover .collect-body {
		top: -3px;
		bottom: -3px;
		left: -3px;
		right: -3px;
	}
	&:hover .collect-img {
		transform: scale(1.1);
	}
}
.collect-img {
	transition: all 0.35s;
	display: block;
	position: relative;


	&:after {
		position: absolute;
		content: '';
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: #030c17;
	
		// opacity: 0.5;
	}
}
.collect-body {
	display: flex;
	position: relative;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 2rem;

	transition: all 0.35s;
	z-index: 2;
	&:after{
	top: 25px;
	bottom: 25px;
	right: 25px;
	left: 25px;
	border: 3px solid $white;
	}
}
.collect-header {
	font-family: OpenLightitalic;
	font-size: 4rem;
	color: $white;
}
.collect-text {
	align-self: flex-end;
	font-family: OpenLight;
	font-size: 1.5rem;
	color: $white;
	text-align: center;
	opacity: 1;
	-webkit-transform: scale3d(1, 1, 1);
	transform: scale3d(1, 1, 1);
}
.collect-more {
	position: absolute;
	bottom: 30px;
}
.grid {
	top: -3px;
}

/* Common style */
.grid figure {
	// position: relative;
	overflow: hidden;
	margin: 10px 1%;
	min-width: 320px;
	max-width: 370px;
	max-height: 418px;
	height: auto;
	background: #222533;
	text-align: center;
	cursor: pointer;
}

.grid figure img {
	width: 100%;
	height: 100%;
	opacity: 0.8;
}

.grid figure figcaption {
	padding: 2em;
	color: #fff;
	text-transform: uppercase;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
	pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption > a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.grid figure figcaption > a {
	z-index: 1000;
	text-indent: 200%;
	white-space: nowrap;
	opacity: 0;
}

.grid figure h2 {
	word-spacing: -0.15em;
	font-weight: 300;
}

/*---------------*/
/***** Ming *****/
/*---------------*/

figure.effect-ming {
	background: #030c17;
}

figure.effect-ming img {
	opacity: 0.9;
	-webkit-transition: opacity 0.35s;
	transition: opacity 0.35s;
}

figure.effect-ming figcaption::before {
	position: absolute;
	top: 30px;
	right: 30px;
	bottom: 30px;
	left: 30px;
	border: 2px solid #fff;
	box-shadow: 0 0 0 30px rgba(255, 255, 255, 0.2);
	content: '';
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: scale3d(1.4, 1.4, 1);
	transform: scale3d(1.4, 1.4, 1);
}

// figure.effect-ming h2 {
// 	margin: 20% 0 10px 0;
// 	-webkit-transition: -webkit-transform 0.35s;
// 	transition: transform 0.35s;
// }

figure.effect-ming p {
	padding: 1em;
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: scale(1.5);
	transform: scale(1.5);
}

figure.effect-ming:hover h2 {
	-webkit-transform: scale(0.9);
	transform: scale(0.9);
}

figure.effect-ming:hover figcaption::before,
figure.effect-ming:hover p {
	opacity: 1;
	-webkit-transform: scale3d(1, 1, 1);
	transform: scale3d(1, 1, 1);
}

figure.effect-ming:hover figcaption {
	background-color: #222533;
}

figure.effect-ming:hover img {
	opacity: 0.1;
}
