.latest{
	.card{
		position:relative;
		&:after{
			position:absolute;
			content:'';
			top:0;
			left:0;
			right:0;
			bottom:0;
			background-color:#222533;
			opacity:0.3;
			
		}
	}
	.card-body{
		z-index:2;
		color:white;
	}
}