.trending{
  background: url('../img/bg2.jpg');
  background-position: center;
  background-size: cover;
  height: calc(100vh - 60px);

  .slide{
  	height: 80%;
  }
}
.carousel-indicators{
	// position:absolute;
	top:100%;
}
.tranding-wear{

 }
.wear-header{
	
	color:#dc0000;
}
.wear-tex{
font-family: 'Open Sans', sans-serif;
}
.wear-text-primary{
	position:relative;

	&:after{
	position:absolute;
	content:'';

	}
}